@import '../../style/default.scss';

.mainContainer {
  flex: 1 1 100%;
  display: flex;
  position: relative;
  background-image: url('../../images/desktop/image-host.jpg');
  background-position: top right;
  background-size: auto;
  background-repeat: no-repeat;

  @media only screen and (min-width:769px) and (max-width:950px) {
    margin-left: 2em !important;
  }

  @media only screen and (min-width:769px) {
    margin-top: 130px;
    margin-left: 165px;
    margin-right: 0;
    height: 640px;
    max-width: 1275px;
  }

  @media only screen and (min-width:470px) and (max-width:768px) {
    margin-left: 2.5em;
    background-image: url('../../images/tablet/image-host.jpg');
  }

  @media only screen and (max-width:470px) {
    background-image: url('../../images/mobile/image-host.jpg');
    background-color: $blue;
    background-blend-mode: multiply;
    align-items: center;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    margin: 0;
    background-position: center;
    background-size: cover;
    height: 100%;
    padding: 0 1.5rem;
    justify-content: space-evenly;
  }
}