.inputContainer {

  position: relative;

  .customInputLoader {
    position: absolute;
    right: .3em;
    top: 1em;
    width: 26px;
    height: 26px;

    @media only screen and (max-width:470px) {
      top: .65em;
      right: .65em;
    }

  }

  @media only screen and (max-width:470px) {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
  }

  .customLabel {
    padding: 0 0 0 2em;
    display: block;
    line-height: 1em;
    font-size: .9em;
    margin-top: .4em;
  }

  .customInput {
    width: 350px;
    max-width: 350px;
    background-color: transparent;
    outline: none;
    border: none;
    box-sizing: border-box;
    max-width: 350px;
    padding: .8em 2em;
    line-height: 2em;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    font-family: 'Chivo Regular', sans-serif;

    &::placeholder {
      color: #b4b2b2;
    }

    @media only screen and (max-width:769px) {
      max-width: 425px;
    }

    @media only screen and (max-width:590px) {
      width: auto;
    }

    @media only screen and (max-width:470px) {
      width: 100%;
      background-color: #2C344B;
      border-radius: 2em;
      height: 46px;
      max-width: 100%;
    }
  }
}

.isValid {
  color: #008000;
}

.isInvalid {
  color: #FB3E3E;
}