@use '../../../style/default.scss';

.customButton {
  color: default.$button-text-color;
  border-radius: 2em;
  background-color: default.$button-primary-color;
  outline: 0;
  box-shadow: 0px 25px 20px -20px default.$button-box-shadow-color;
  line-height: 2em;
  padding: 0.7em 2em;
  border: none;
  cursor: pointer;
  font-family: default.$font-family-regular;
  font-weight: 500;

  &:hover {
    background-color: default.$button-primary-h-color;
  }

  &:disabled {
    background-color: default.$button-primary-disabled-color;
  }
}