.brandIcon {
  width: auto;

  @media only screen and (max-width:590px) {
    height: 18px;
  }

}

[data-label="google"] {
  height: 18px;

  @media only screen and (max-width:470px) {
    height: 11px;
  }
}