@import '../../../style/default.scss';

.textBox {
  font-size: 1.15em;
  line-height: 1.75em;
  max-width: 445px;
  margin-bottom: 2.5em;
  color: $white;

  p {
    margin: 0;
  }

  .green {
    color: $green;
  }

  .blueLight {
    color: $blue-light;
  }

  @media only screen and (max-width:470px) {
    font-size: .9rem;
    line-height: 1.56rem;
    margin-bottom: 0;
  }
}