@import '../../style/default.scss';

.blueContainer {
  height: fit-content;
  align-self: flex-end;
  background-color: $blue-dark;
  max-width: 725px;
  box-sizing: border-box;
  padding-top: 5.5em;
  padding-right: 3.6em;

  @media only screen and (min-width: 590px) and (max-width:660px) {
    margin-right: 1em !important;
  }

  @media only screen and (max-width:768px) {
    margin-top: 16em;
    margin-bottom: 16em;
    padding-top: 5.75em;
    padding-right: 1em;
    margin-right: 4em;
    max-width: 635px;
  }

  @media only screen and (max-width:470px) {
    margin: 0;
    padding: 0;
    background-color: transparent;
    width: 100%;
    text-align: center;
    display: grid;
    justify-items: center;
    align-items: center;
  }
}