@use '../../style/default.scss';

.blueContainer {
  height: fit-content;
  align-self: flex-end;
  background-color: default.$blue-dark;
  max-width: 725px;
  box-sizing: border-box;
  padding-top: 5.5em;
  padding-right: 3.6em;

  @include default.respond-to(bp-small) {
    margin-top: 16.125em;
    align-self: normal;
    padding-top: 5.75em;
    padding-right: 1em;
    margin-right: 4em;
    max-width: 635px;
    margin-bottom: 9.55em;
  }

  @include default.respond-to(bp-very-small) {
    margin: 0;
    padding: 0;
    background-color: transparent;
    width: 100%;
    text-align: center;
    display: grid;
    justify-items: center;
    align-items: center;
  }
}