.inputContainer {
    background-color: #2C344B;
    border-radius: 15px;
    
    .customInput {
        max-width:350px;
        background-color: transparent;
        outline: none;
        border: none;
    }
}