

$white: #FFF;
$blue-light: #C2CBE5;
$blue: #5A668A;
$blue-middle: #2C344B;
$blue-dark: #121725;
$green: #54E6AF;

$font-family: 'Chivo Regular', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;700&display=swap');
