@font-face {
    font-family: "Chivo Light";
    src: url("../fonts/Chivo-Light.ttf");
}

@font-face {
    font-family: "Chivo Regular";
    src: url("../fonts/Chivo-Regular.ttf");
}

@font-face {
    font-family: "Chivo Bold";
    src: url("../fonts/Chivo-Bold.ttf");
}