.mainContainer {

    min-width: 320px;
    flex: 1 1 100%;

    @media only screen and (min-width:1275px) {
        margin-top: 130px;
        margin-left: 165px;
        margin-right:0;
        height:640px;
        max-width:1275px;
     
    }
}

