@use '../../../style/default.scss';

.formContainer {
  display: flex;
  background-color: default.$blue-middle;
  border-radius: 2em;
  height: 56px;
  width: fit-content;
  position: relative;

  @include default.respond-to(bp-very-small) {
    width: 100%;
  }

  button {
    flex-grow: 0;
    align-self: center;
    margin-right: 5px;
    font-weight: 600;
    white-space: nowrap;

    @include default.respond-to(bp-very-small) {
      width: 100%;
    }

  }

  @include default.respond-to(bp-very-small) {
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: auto;
    background-color: transparent;
    // change grid order
    order: 4;
  }

}