.brandIcons {
    display: flex;
    width:535px;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-top:4em;
    align-items: center;

    @media only screen and (max-width:590px) {
        width:auto;
    }

    @media only screen and (max-width:470px) {
      width:100%;
      // change grid order
      order: 3;
      margin-top: 2rem;
      margin-bottom:3rem;
    }


}