.logo {
    transform: translateY(-50%);
    position: absolute;
}

.dots {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(50%);
    width: 235px;
    height: auto;
}