@use '../../style/default.scss';

.logo {
  transform: translateY(-50%);
  position: absolute;

  @include default.respond-to(bp-very-small) {
    position: static;
    transform: unset;
  }

  @include default.respond-to(bp-small) {
    transform: unset;
    top: 50px;
  }
}

.dots {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateY(50%);
  width: 235px;
  height: auto;

  @include default.respond-to(bp-very-small) {
    display: none;
  }

  @include default.respond-to(bp-small) {
    left: 0;
    right: auto;
    transform: unset;
  }

  @media only screen and (min-width:769px) and (max-width: 810px) {
    width: 200px;
  }
}